@inherits LayoutComponentBase

<PageTitle>Forbex</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@Collapse"></RadzenSidebarToggle>
            <RadzenLabel Text="ForbexRadzen"></RadzenLabel>
          </div>
          <div class="col-6 text-right"></div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody>
      <ChildContent>
        <RadzenContentContainer Name="main">
          <RadzenPanel Style="width: 90%; margin: 40px auto">
          @Body
          </RadzenPanel>
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar Visible="@_hidden"> 
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Text="Договоры" Path="contracts" Icon="book"/>
            <RadzenPanelMenuItem Text="Добавление договора" Path="сontractAdd" Icon="add_circle"/>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
    @* <RadzenFooter > *@
    @*   <ChildContent> *@
    @*     <RadzenLabel Text="ForbexRadzen, Copyright Ⓒ 2022"> *@
    @*     </RadzenLabel> *@
    @*   </ChildContent> *@
    @* </RadzenFooter> *@
  </ChildContent>
</RadzenLayout>

@code
{
  bool _hidden;
  void Collapse()
  {
    _hidden = !_hidden;
  }
}