@inherits LayoutComponentBase

<PageTitle>Forbex</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="row justify-content-start align-items-center">
          <div class="col-2 d-flex align-items-center">
            <RadzenSidebarToggle Click="@Collapse"></RadzenSidebarToggle>
            <RadzenLabel Text="ForbexRadzen"></RadzenLabel>
          </div>
          <div class="col-6">
            <RadzenMenu>
              <RadzenMenuItem Path="/" Text="General" Icon="article"/>
              
              <RadzenMenuItem Path="contractAdd" Text="Почта" Icon="mail"/>
              
              <RadzenMenuItem Text="General" Icon="home"/>
            </RadzenMenu>
          </div>
        </div>
    </RadzenHeader>
    <RadzenBody>
        <RadzenPanel Style="width: 90%; margin: 40px auto">
          @Body
        </RadzenPanel>
    </RadzenBody>
    <RadzenSidebar Visible="@_hidden">
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Text="Договоры" Path="contracts" Icon="book"/>
            <RadzenPanelMenuItem Text="Добавление договора" Path="contractAdd" Icon="add_circle"/>
          </ChildContent>
        </RadzenPanelMenu>
    </RadzenSidebar>
</RadzenLayout>

@code
{
  [Parameter]
  public RenderFragment Header { get; set; }
  bool _hidden;
  void Collapse()
  {
    _hidden = !_hidden;
  }
}