@inherits LayoutComponentBase

<PageTitle>Forbex</PageTitle>

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-2 d-flex align-items-center">
            <RadzenSidebarToggle Click="@Collapse"></RadzenSidebarToggle>
            <RadzenLabel Text="ForbexRadzen"></RadzenLabel>
          </div>
          <div class="col-6">
            <RadzenMenu>
              <RadzenMenuItem Text="General" Icon="home">
                <RadzenMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenMenuItem>
                <RadzenMenuItem Text="Menu" Path="menu" Icon="line_weight"></RadzenMenuItem>
                <RadzenMenuItem Text="ChildClick" Icon="attach_file"></RadzenMenuItem>
                <RadzenMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenMenuItem>
                <RadzenMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenMenuItem>
              </RadzenMenuItem>
            </RadzenMenu>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody>
      <ChildContent>
        <h1>DataGrid <strong>Custom Virtualization</strong></h1>
        
        <p>
            RadzenDataGrid supports virtualization with custom data-binding scenarios. Handle the <code>LoadData</code> event as usual.
        </p>
        <RadzenPanel Style="width: 90%; margin: 40px auto">
          @Body
        </RadzenPanel>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar Visible="@_hidden"> 
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Text="Договоры" Path="contracts" Icon="book"/>
            <RadzenPanelMenuItem Text="Добавление договора" Path="сontractAdd" Icon="add_circle"/>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
  </ChildContent>
</RadzenLayout>

@code
{
  bool _hidden;
  void Collapse()
  {
    _hidden = !_hidden;
  }
}