@using ForbexDAL.Data
<h3>ContractDetails</h3>
@Contract.Id.ToString()
TYPE HERE CONTENT OF EXPANDED ROW(CHECK E.G. RIGHT HERE - https://blazor.radzen.com/master-detail-hierarchy. IT WILL HELP YOU UNDERSTAND WHAT SHOULD YOU  DO)
@code {св 
    [Parameter]
    public Contract Contract { get; set; }
}