@page "/Correspondence"
@using ForbexDAL.Data
@using ForbexDAL.Repositories.Contracts
<h3>Correspondence</h3>

<RadzenDataGrid Data="@Correspondences" TItem="Correspondence" AllowPaging="true" PageSize="20"
                AllowSorting="true" AllowMultiColumnSorting="true"
                AllowFiltering="true" LogicalFilterOperator="LogicalFilterOperator.Or">
    <Columns>
        <RadzenDataGridColumn TItem="Correspondence" Property="ReceivingAddress" Title="Дата поступления" FormatString="{0:d}"/>
        <RadzenDataGridColumn TItem="Correspondence" Property="Status" Title="Статус отправки"/>
        <RadzenDataGridColumn TItem="Correspondence" Property="SenderName" Title="Отправитель"/>
        <RadzenDataGridColumn TItem="Correspondence" Property="ReceivingAddress" Title="Адрес"/>
        <RadzenDataGridColumn TItem="Correspondence" Property="Receiver" Title="Получатель"/>
        <RadzenDataGridColumn TItem="Correspondence" Property="IsPaid" Title="Платное письмо"/>
    </Columns>
</RadzenDataGrid>
@code {
    IEnumerable<Correspondence>? Correspondences { get; set; }

    [Inject]
    ICorrespondenceRepository CorrespondenceRepository { get; set; } = null!;
    
    protected override void OnInitialized()
    {
        Correspondences = CorrespondenceRepository.GetAllCorrespondence();
    }
}