@page "/CorrespondenceAdditionFormPage/{Correspondence}/"
@using ForbexDAL.Data
<h3>CorrespondenceAdditionFormPage</h3>
//TODO organize form for addition of Correspondence
@code {
    [Parameter]
    public Correspondence? Correspondence { get; set; }
}git 